// /* IMPORT */

@import "../css/common/reset.scss";
@import "../css/common/variables.scss";
@import "../css/layout/main.css";
@import "../css/layout/header.css";
@import "../css/layout/footer.css";
@import "../css/common/mixin.scss";
@import "../css/accueil.css";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display:wght@400;600&family=Roboto:wght@100;400&display=swap");
@import "./img-background-resto";
// pages -> layout -> components
/*
	Standard CSS Reset
	This is used to account for differences in browsers.
	Without a reset stylesheet there could be differences
	between browsers when loading your html website.
    "https://www.codegrepper.com/code-examples/css/2020+scss+reset"
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Roboto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Accueil*/
/*HEADER*/
.nav-home {
  width: 100%;
}

.content {
  width: 100%;
}

.location {
  width: 100%;
  height: 2rem;
  background-color: #dddddd;
  @include center;
  color: rgb(65, 65, 65);
}

.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.logo-header {
  width: 100%;
  @include center;
  font-size: 3rem;
  font-family: Shrikhand;
  box-shadow: 1px 1px 3px 1px gray;
}
/*Reservation*/
.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

h1 {
  font-size: 22px;
  padding: 40px 20px;
}
.reservation-title {
  @include center;
  font-weight: bold;
  padding: 10px 90px;
  text-align: center;
}

.reservation-subtitle {
  width: 80%;
  color: grey;
  @include center;
  text-align: center;
  padding-bottom: 10px;
}

.button-container {
  width: 100%;
  @include center;
  padding-bottom: 40px;
}
.button {
  height: 50px;
  @include center;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 50px;
  &:hover {
    background: linear-gradient($color-secondary-hover, $color-primary-hover);
  }
}

/*MAIN*/

/*Fonctionnement*/
.fonctionnement {
  width: 100%;
}
.fonctionnement-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement-child {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 6px 6px 6px 1px #dfdcdc;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px;
  background-color: #f2f2f2;
  & div {
    margin-left: -25%;
  }
}

.fonctionnement-child:hover {
  background-color: rgb(234, 217, 240);
  & div i {
    color: $color-primary;
  }
}
.fonctionnement-number {
  background-color: $color-primary;
  color: white;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*Restaurants*/
.restaurant {
  background-color: #f2f2f2;
}

.restaurant-card_image {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px 20px 0 0;
}

.nouveau {
  height: 30px;
  background-color: rgb(64, 206, 175);
  color: rgb(27, 105, 79);
  width: 90px;
  border-radius: 2px;
  @include center;
  margin-top: 15px;
  margin-right: 12px;
}
.restaurant-card {
  box-shadow: 6px 6px 6px #f2f2f2;
  margin-bottom: 6px;
  border-radius: 20px;
  padding: 20px;
}
.restaurant-description {
  height: 50px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurant-name {
  font-weight: bold;
  background-color: white;
  padding-bottom: 10px;
  & a{
    text-decoration: none;
    color: black;
  }
}

.restaurant-location {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  font-weight: 200;
}

.restaurant-heart {
  width: 20px;
  height: 20px;
  margin-right: -24px;
  transition: 3s linear;
}
.restaurant-heart_hidden {
  opacity: 0;
  transform: scale(0);
  background: -webkit-linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s linear;
}
.heart-block {
  &:hover {
    & .restaurant-heart {
      opacity: 0;
      transition: 3s linear;
      
    }
    & .restaurant-heart_hidden {
      opacity: 1;
      transform: scale(1);
      transition: 3s linear;
      
    }
  }
}
/*FOOTER*/
footer {
  background-color: black;
}
.logo-footer {
  width: 90%;
  font-size: 25px;
  font-family: Shrikhand;
  display: flex;
  justify-content: flex-start;
  padding: 5px 5px 5px 5px;
  color:white;
  
}
.text-footer {
  color: white;
  padding: 5px 5px;
  & i {
    color: white;
  }
}
.ustensils {
  padding: 8px;
}
.handshake{
  padding:0 8px 0 5px;
}
.text-without-icon {
  padding: 5px 8px 8px 8px;
}
* a {
  text-decoration: none;
}

/*IPAD VIEW*/

@media screen and (min-width: 768px) {
  .logo-header {
    padding: 20px 0 20px 0;
  }
  .reservation-title {
    padding: 30px;
  }
  .reservation-subtitle {
    padding-top: 30px;
  }
  .button-container {
    padding-top: 30px;
  }
  .fonctionnement-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:20px 0;
  }
  .fonctionnement-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .fonctionnement-child {
    min-width:200px;
    width: 100%;
    margin: 15px;
    padding: 0;
    padding-right: 5px;
    justify-content: space-between;
    & div{
      margin-left: -10px;
    }
  }
  .restaurant-title {
    @include center;
  }
  .logo-footer{
    width: 50%;
    padding: 30px;
  }
}

/*DESKTOP VIEW*/
@media screen and (min-width: 1024px) {
  .fonctionnement-child{
    width: 250px;
    padding-right: 25px;
  }
.restaurant-cards{
  display: flex;
  flex-wrap: wrap;
}
.restaurant-card{
  width: 350px;
}
footer{
  width: 100%;
  height: 300px;
}
.logo-footer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 30px;
  margin: 0;
}
.list-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  
}
.text-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.text-without-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
}

 /*{   outline: solid 1px red;
 }*/