/* IMG HEADER RESTO */

#header-img_page1{
background-image: url(../images/restaurants/lapalettedugout.jpg);

}
#header-img_page2{
  background-image: url(../images/restaurants/lanoteenchantee.jpg);
  
}
#header-img_page3{
    background-image: url(../images/restaurants/alafrancaise.jpg);
    
}
#header-img_page4{
      background-image: url(../images/restaurants/ledelicedessens.jpg);
      
}
