
/*HEADER page*/ 
.header-nav{
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Shrikhand;
    box-shadow: 1px 1px 3px 1px ;
  }
  
  .header-image{
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  
  .return-icon{
  color: black;
  position: absolute;
  top:5px;
  left: 5px;
  font-size: 35px;
  }
  

/*HEADER accueil*/
.nav-home {
    width: 100%;
  }
  
  .content {
    width: 100%;
    font-family: raleway;
  }
  
  .location {
    width: 100%;
    height: 2rem;
    background-color: #dddddd;
    @include center;
    color: rgb(65, 65, 65);
  }
  
  .icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .logo-header {
    width: 100%;
    @include center;
    font-size: 3rem;
    font-family: Shrikhand;
    box-shadow: 1px 1px 3px 1px gray;
  }
  /*Reservation*/
.reservation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 22px;
    padding: 40px 20px;
  }
  .reservation-title {
    @include center;
    font-weight: bold;
    padding: 10px 90px;
    text-align: center;
  }
  
  .reservation-subtitle {
    width: 80%;
    color: grey;
    @include center;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .button-container {
    width: 100%;
    @include center;
    padding-bottom: 40px;
  }
  .button {
    height: 50px;
    @include center;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 50px;
    &:hover {
      background: linear-gradient($color-secondary-hover, $color-primary-hover);
    }
  }
// IPAD VIEW

  @media screen and (min-width: 768px){

  }.logo-header {
    padding: 20px 0 20px 0;
  }
  .reservation-title {
    padding: 30px;
  }
  .reservation-subtitle {
    padding-top: 30px;
  }
  .button-container {
    padding-top: 30px;
  }