
/*HEADER page*/ 
.header-nav{
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Shrikhand;
    box-shadow: 1px 1px 3px 1px ;
  }
  
  .header-image{
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  
  .return-icon{
  color: black;
  position: absolute;
  top:5px;
  left: 5px;
  font-size: 35px;
  }
  

/*HEADER accueil*/
.nav-home {
    width: 100%;
  }
  
  .content {
    width: 100%;
  }
  
  .location {
    width: 100%;
    height: 2rem;
    background-color: #dddddd;
    @include center;
    color: rgb(65, 65, 65);
  }
  
  .icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .logo-header {
    width: 100%;
    @include center;
    font-size: 3rem;
    font-family: Shrikhand;
    box-shadow: 1px 1px 3px 1px gray;
  }