/*Accueil resto*/
header {
  .header-nav {
    &__logo {
      border: solid black;
      width: 5rem;
      height: 3rem;
    }
    &__content {
      .location {
      }
      .header-nav__content--icon {
      }

      &__title {
      }

      &__subtitle {
      }
      &__button {
        width: 5rem;
        height: 3rem;
        border: solid black;
      }
    }
  }
  @media screen and (max-width: 769px) {
  }

  /*Menus*/

  header {
    .header-nav__menu {
      &__pic {
        width: 8rem;
        height: 8rem;
      }
    }
  }

  @media screen and (max-width: 769px) {
  }
}
