/*Accueil*/
main {
}

.todolist {
  &__title {
  }
  &__content {
  }
  &__child {
  }
}
.local {
  background-color: #f2f2f2;

  .local {
    &__title {
    }
    &__content {
      &__card {
        &__image {
          width: 100%;
          height: 20%;
          object-fit: cover;
          border-radius: 1rem;
        }
        &__description {
          background-color: var(--background-color);
          &__title {
          }
          &__location {
          }
          &__icon {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
}
/*Menus*/

main {
  .title {
  }
  &__icon {
  }

  .starter__title {
    .first-choice {
      &__subtitle {
      }
      &__text {
      }
      &__price {
      }
    }
  }
  .main__title {
    .snd-choice {
      &__subtitle {
      }
      &__text {
      }
      &__price {
      }
    }
  }
  .desserts__title {
  }
  .thd-choice {
    &__subtitle {
    }
    &__text {
    }
    &__price {
    }
  }
}
.btn {
  .commander {
  }
}

@media screen and (max-width: 769px) {
}
